/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.form-check-inline .form-check-input {
    width: 1.285rem;
    height: 1.285rem;
    cursor: pointer;
}
.form-check-label {
    font-size: 1rem;
    position: static;
    cursor: pointer;
}
.demo-inline-spacing > * {

    margin-top: .5rem;
}
input.form-check-input.radio-sazal {
  width: 1.285rem;
  height: 1.285rem;
}
.radio-sazal-label {
  padding-left: .5rem;
  padding-top: 0.1rem;
}

/* alert button css */
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
.swal-button--danger {
  background-color: #7367f0;
}
.swal-button--danger:hover {
  background-color: #ff9f43 !important;
}
.swal-button--danger:not([disabled]):hover {
  background-color: #ff9f43 !important;
}

.swal-button--confirm {
  background-color: #7367f0;
}
.swal-button--confirm:not([disabled]):hover {
  background-color: #7b6effd1;
}

/* alert button css end */

.card-datatable{
  padding: 0rem 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  /* ignore mobile phones: */
  .responsive-form {
    width: 50%;
  }
}

.pro p{
  font-weight: bold;
}
